.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 130px;
  padding-bottom: 40px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
}
.text {
  color: steelblue;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: bold;
}
.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
}
.input {
  display: flex;
  align-items: center;
  width: 300px;
  height: 45px;
  background-color: rgb(212, 206, 197);
  border-radius: 5px;
}
.input img {
  margin: 0px 20px;
  width: 20px;
}
.input input {
  height: 20px;
  width: 210px;
  background: transparent;
  outline: none;
  border: none;
  color: #282626;
  font-size: 13px;
}
.forgetpass {
  padding-left: 180px;
  margin-top: 5px;
  font-size: 13px;
  color: steelblue;
}
.submit-container {
  display: flex;
  gap: 40px;
  margin: 60px auto;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  color: black;
  background: steelblue;
  border-radius: 5px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}
.gray {
  background-color: rgb(212, 206, 197);
  color: gray;
}
